* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, serif;
}

a {
  text-decoration: none;
  color: black;
}
/* HEADER */

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid black;
}

/* App.js */
.App {
  background-color: teal;
  min-height: 100vh;
}

.appBody {
  padding: 20px 30px;
  display: flex;
}

/* Searchbar */
.searchbar {
  min-width: 250px;
  border-right: 1px solid rgba(0,0,0,0.5);
  padding-right: 10px;
}

.searchInput input {
  border: none;
  padding: 10px 15px;
  width: 100%;
  border-radius: 9999px;
  margin-bottom: 30px;

}

.searchInput input:focus {
  outline: none;
}

/* Repo List*/
.reposList {
  flex: 1;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
}

.repo {
  background-color: white;
  margin: 10px;
  padding: 20px 30px;
  border-radius: 15px;
  flex-grow: 2;
}

.title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}


/* History */
.historyElement:hover {
  text-decoration: underline;
  cursor: pointer;
}